<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/parts">Respuestos</a></li>
            <% if(typeof editPart != "undefined"){ %>
              <li class="breadcrumb-item active" aria-current="page">Editar Repuesto <%=editPart.internalCode%></li>
            <%} else {%>
              <li class="breadcrumb-item active" aria-current="page">Nuevo Repuesto</li>
            <%}%>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-body">
        <% if(typeof editPart != "undefined"){ %>
          <h3 class="card-title">Editar Repuesto</h3>
          <h5 class="card-subtitle"> Modifique los datos del repuesto </h5>
          <form class="form-horizontal m-t-30" method="POST" action="/parts/edit/<%=editPart.id%>">
        <%} else {%>
          <h3 class="card-title">Nuevo Repuesto</h3>
          <h5 class="card-subtitle"> Ingrese los datos del repuesto que desea agregar </h5>
          <form class="form-horizontal m-t-30" method="POST" action="/parts/new">
        <%}%>
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label>Tipo</label>
              <input list="type" name="tipo" class="custom-select col-12" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.type%> <%}%>>
              <datalist id="type">
                <option value="oil">Aceite</option>
                <option value="filter">Filtro</option>
                <option value="liquid">Liquidos</option>
                <option value="vent">Respiradero</option>
              </datalist>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Precio [usd]</label>
              <input class="form-control" type="number" name="unitPrice" placeholder="Precio" min="0" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.pricePerUnit%> <%}%>>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Marca</label>
              <input list="brands" name="marca" class="custom-select col-12" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.brand%> <%}%>>
              <datalist id="brands">
                <option>KOMATSU</option>
                <option>YPF</option>
                <option>CATERPILLAR</option>
                <option>JOHN DEERE</option>
                <option>SAMSUNG</option>
                <option>CATERPILLAR</option>
                <option>FLEETGUARD</option>
                <option>DONALDSON</option>
                <option>BOBCAT</option>
                <option>IVECO</option>
                <option>JCB</option>
                <option>LIEBHERR</option>
                <option>VOLVO</option>
              </datalist>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Modelo</label>
              <input class="form-control" type="text" placeholder="Modelo" name="modelo" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.model%> <%}%>>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Codigo Interno</label>
              <input class="form-control" type="text" placeholder="C칩digo Interno" name="codigo interno" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.internalCode%> <%}%>>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Link Detalle</label>
              <input class="form-control" type="text" placeholder="Link para detalles" name="detailLink" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.detailLink%> <%}%>>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Cantidad</label>
              <input class="form-control" type="number" placeholder="Cantidad"  name="cantidad"  <% if(typeof editPart != "undefined"){ %> value=<%=editPart.stock%> <%}%>>
            </div>
          </div>
            <div class="col">
              <div class="form-group">
                <label>Aplicaci칩n</label>
                <input list="application" name="aplicacion" class="custom-select col-12" <% if(typeof editPart != "undefined"){ %> value=<%=editPart.application%> <%}%>>
                <datalist id="application">
                  <option value="air">Aire</option>
                  <option value="oil">Aceite</option>
                  <option value="fuel">Combustible</option>
                  <option value="motor">Motor</option>
                  <option value="hydraulic">Hidr치ulico</option>
                  <option value="transmission">Transmisi칩n</option>
                  <option value="coolant">Refrigerante</option>
                  <option value="break">Frenos</option>
                  <option value="other">Otro</option>
                </datalist>
              </div>
            </div>
          </div>
        <input type="submit" value="Guardar" class="btn btn-primary btn-rounded">
      </form>
    </div>
  </div>
</div>
