<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Repuestos</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
      <div class="card">
          <div class="card-header">
            <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-success btn-rounded" href="/parts/new" aria-expanded="false">
                <i class="mdi mdi-plus-circle-outline"></i>
                <span class="hide-menu">Nuevo Respuesto</span>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h3 class="card-title"><b>Repuestos</b></h3>
              </div>
              <div class="col-4">
                <div class="input-group md-form form-sm form-1 pl-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" id="filterList" type="text" placeholder="Buscar...">
                </div>
              </div>
            </div>
            <div class="table-responsive text-center" style="height:500px; width: 100%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0" style="width: 8%; text-align: center;">CODIGO INTERNO</th>
                            <th class="border-top-0" style="width: 12%; text-align: center;">CODIGO EXTERNO</th>
                            <th class="border-top-0" style="width: 10%; text-align: center;">TIPO</th>
                            <th class="border-top-0" style="width: 10%; text-align: center;">APLICACION</th>
                            <th class="border-top-0" style="width: 7%; text-align: center;">MARCA</th>
                            <th class="border-top-0" style="width: 7%; text-align: center;">MODELO</th>
                            <th class="border-top-0" colspan="2" style="width: 7%; text-align: center;">STOCK</th>
                            <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                                <th class="border-top-0" style="width: 7%; text-align: center;">ACCIÓN</th>
                            <%}%>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                      <% parts.forEach(function(parts){ %>
                        <tr>
                            <td class="txt-oflo align-middle"><%= parts.internalCode %></td>
                            <td class="txt-oflo align-middle"><%= parts.externalCode %></td>
                            <td class="txt-oflo align-middle"><%= parts.type %></td>
                            <td class="txt-oflo align-middle"><%= parts.application %></td>
                            <td class="txt-oflo align-middle"><%= parts.brand %></td>
                            <td class="txt-oflo align-middle"><%= parts.model %></td>
                            <td class="txt-oflo align-middle"><%= parts.stock %></td>
                            <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                              <td class="txt-oflo align-middle">
                                <div class="align-middle">
                                  <form class="form-horizontal m-t-30 align-middle" method="post" action="/parts/stock/<%=parts.id%>">
                                    <div class="input-group mb-3">
                                      <input type="number" class="form-control" placeholder="Cantidad" name="cantidad" value="1">
                                      <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">+</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>  
                              </td>
                              <td class="txt-oflo align-middle">
                                <div class="btn-group" role="group">
                                  <a href="/parts/edit/<%= parts.id %>"class="btn btn-warning btn-rounded"><i class="mdi mdi-pencil-outline"></i></a>
                                  <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#deleteSparePartModal" data-partid="<%=parts.id%>" data-partcode="<%=parts.internalCode%>" ><i class="mdi mdi-delete"></i></button>
                                </div>
                              </td>
                            <% } %>
                        </tr>
                      <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->


<div class="modal fade" id="deleteSparePartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cuidado! Seguro desea eliminar este repuesto?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Esta acción no se puede deshacer.</h5>  
      </div>
      <div class="modal-footer">
        <a id="deletePartLink" href="/parts/delete/<%= parts.id %>" class="btn btn-danger btn-rounded">ELIMINAR</a>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>
