<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Obras</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
      <div class="card">
          <div class="card-header">
            <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-success btn-rounded" href="/site/new" aria-expanded="false">
                <i class="mdi mdi-plus-circle-outline"></i>
                <span class="hide-menu">Nueva Obra</span>
            </a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h3 class="card-title"><b>Obras</b></h3>
              </div>
              <div class="col-4">
                <div class="input-group md-form form-sm form-1 pl-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" id="filterList" type="text" placeholder="Buscar...">
                </div>
              </div>
            </div>
            <div class="table-responsive text-center" style="height:500px; width: 100%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0" style="width: 11%; text-align: center;">CÓDIGO</th>
                            <th class="border-top-0" style="width: 12%; text-align: center;">NOMBRE</th>
                            <th class="border-top-0" style="width: 8%; text-align: center;">PROVINCIA</th>
                            <th class="border-top-0" style="width: 12%; text-align: center;">DEPARTAMENTO</th>
                            <th class="border-top-0" style="width: 9%; text-align: center;">EQUIPOS</th>
                            <th class="border-top-0" style="width: 9%; text-align: center;">FIN</th>
                            <th class="border-top-0" style="width: 15%; text-align: center;">OBSERVACIONES</th>
                            <th class="border-top-0" style="width: 16%; text-align: center;">DETALLES</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                      <% sites.forEach(function(site){ %>
                        <tr>
                            <td class="txt-oflo align-middle"><%= site.code %></td>
                            <td class="txt-oflo align-middle"><%= site.name %></td>
                            <td class="txt-oflo align-middle"><%= site.province %></td>
                            <td class="txt-oflo align-middle"><%= site.district %></td>
                            <td class="txt-oflo align-middle"><%=site.equipments.length%></td>
                            <td class="txt-oflo align-middle"><%= site.finishDate %></td>
                            <td class="txt-oflo align-middle"><%= site.observations %></td>
                            <td style="text-align: center;">
                              <div class="btn-group" role="group">
                                <a href="/site/details/<%= site.id %>"class="btn btn-success btn-rounded"><i class="mdi mdi-file-find"></i></a>
                                <% if(req.session.authenticated && req.session.User.permissions === "admin" && site.code != "T01"){ %>
                                  <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#deleteSiteModal" data-siteid="<%=site.id%>" data-sitecode="<%=site.code%>" ><i class="mdi mdi-delete"></i></button>
                                <%}%>
                              </div>
                            </td>
                        </tr>
                      <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
          I/M: Índice de Mantenibilidad -
          I/R: Índice de Reparabilidad
        </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->


<div class="modal fade" id="deleteSiteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cuidado! Seguro desea eliminar esta obra?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Esta acción no se puede deshacer.</h5>  
      </div>
        <div class="modal-footer">
          <a id="deletePartLink" href="/site/delete/" class="btn btn-danger btn-rounded">ELIMINAR</a>
          <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">CANCELAR</button>
        </div>
    </div>
  </div>
</div>