<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
      <div class="card">
          <div class="card-header">
            <a class="sidebar-link waves-effect waves-dark btn btn-success btn-rounded" href="/user/signup" aria-expanded="false">
                <i class="mdi mdi-account-plus"></i>
                <span class="hide-menu">Nuevo Usuario </span>
            </a>
            <a class="sidebar-link waves-effect waves-dark btn btn-secondary btn-rounded" href="/user/resetpass">
              <i class="mdi mdi-account-key"></i>  <span class="hide-menu"> Restaurar Contraseña</span>
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-title"><b>Usuarios</b></h3>
            <div class="table-responsive text-center" style="height:500px; width: 100%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0" style="text-align: center;">NOMBRE</th>
                            <th class="border-top-0" style="text-align: center;">APELLIDO</th>
                            <th class="border-top-0" style="text-align: center;">DNI</th>
                            <th class="border-top-0" style="text-align: center;">PERMISOS</th>
                            <th class="border-top-0" style="text-align: center;">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% users.forEach(function(user){ %>
                        <tr>
                            <td class="txt-oflo align-middle"><%= user.name %></td>
                            <td class="txt-oflo align-middle"><%= user.lastname %></td>
                            <td class="txt-oflo align-middle"><%= user.dni %></td>
                            <%if("admin" == user.permissions){%>
                              <td class="txt-oflo align-middle">Administrador</td>
                            <%}else if("engineer" == user.permissions){%>
                              <td class="txt-oflo align-middle">Ingeniero</td>
                            <%}else if("constManager" == user.permissions){%>
                              <td class="txt-oflo align-middle">Jefe de Obra</td>
                            <%}else if("maintManager" == user.permissions){%>
                              <td class="txt-oflo align-middle">Jefe de Mantenimiento</td>
                            <%}else if("depositManager" == user.permissions){%>
                              <td class="txt-oflo align-middle">Jefe de Deposito</td>
                            <%}else{%>
                              <td class="txt-oflo align-middle">Error</td>
                            <%}%>
                            <td style="text-align: center; align-middle">
                              <div class="btn-group" role="group">
                                <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                                  <a href="/user/edit/<%= user.id %>"class="btn btn-success btn-rounded"><i class="mdi mdi-pencil"></i></a>
                                  <a href="/user/delete/<%= user.id %>"class="btn btn-danger btn-rounded"><i class="mdi mdi-delete"></i></a>
                                <%}%>
                              </div>
                            </td>
                        </tr>
                      <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
