<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item" aria-current="page"><a href="/equipment/list">Equipos</a></li>
                      <li class="breadcrumb-item active" aria-current="page"><%=equipment.designation%> <%=equipment.brand%> <%=equipment.model%></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h2 class="card-title"><%=equipment.designation%> <%=equipment.brand%> <%=equipment.model%></h2>
        </div>
        <div class="row justify-content-between align-center">
          <div class="col">
            <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
              <a href="/lubsheet/new/<%= equipment.id %>"class="btn btn-primary btn-rounded"><i class="mdi mdi-clipboard-text"> Planilla de Mantenimiento</i></a>
            <%}%>
            <% if(equipment.lubricationSheet != null){ %>
              <a href="/lubsheet/details/<%= equipment.id %>/<%= equipment.lubricationSheet %>"class="btn btn-info btn-rounded"><i class="mdi mdi-clipboard-arrow-down-outline"> Planilla de Mantenimiento</i></a>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive text-center" style="height:130px; width: 100%">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="border-top-0" style="text-align: center;">CÓDIGO</th>
                  <th class="border-top-0" style="text-align: center;">MARCA</th>
                  <th class="border-top-0" style="text-align: center;">MODELO</th>
                  <th class="border-top-0" style="text-align: center;">S/N</th>
                  <th class="border-top-0" style="text-align: center;">ORIGEN</th>
                </tr>
              </thead>
              <tbody>
                <td class="txt-oflo"><%= equipment.code %></td>
                <td class="txt-oflo"><%= equipment.brand %></td>
                <td class="txt-oflo"><%= equipment.model %></td>
                <td class="txt-oflo"><%= equipment.serialNumber %></td>
                <td class="txt-oflo"><%= equipment.origin %></td>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive text-center" style="height:130px; width: 100%">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="border-top-0" style="text-align: center;">AÑO</th>
                  <th class="border-top-0" style="text-align: center;">FECHA SERVICIO</th>
                  <th class="border-top-0" style="text-align: center;">POTENCIA</th>
                  <th class="border-top-0" style="text-align: center;">PESO</th>
                  <th class="border-top-0" style="text-align: center;">PRECIO</th>
                </tr>
              </thead>
              <tbody>
                <td class="txt-oflo"><%= equipment.manufDate %></td>
                <td class="txt-oflo"><%= equipment.serviceDate %></td>
                <td class="txt-oflo"><%= equipment.power %>HP</td>
                <td class="txt-oflo"><%= equipment.weight %>Kg</td>
                <td class="txt-oflo">U$D<%= equipment.price %></td>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive text-center" style="height:130px; width: 100%">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="border-top-0" style="text-align: center;">HORAS TOTALES</th>
                  <th class="border-top-0" style="text-align: center;">OBRA</th>
                  <th class="border-top-0" style="text-align: center;">MANTENIMIENTO</th>
                  <th class="border-top-0" style="text-align: center;">OBSERVACIONES</th>
                </tr>
              </thead>
              <tbody>
                <td class="txt-oflo"><%= equipment.totalHours %>Hs</td>
                <td class="txt-oflo"><a href="/site/details/<%=equipment.constructionSite.id%>"><%= equipment.constructionSite.name %></td>
                <td class="txt-oflo">
                  <% if (nextMaintenance != 0) {%>
                    <% var percentage = ((1 - (nextMaintenance - equipment.partialHours) / (nextMaintenance - prevMaintenance)) * 100).toFixed(2) %>
                    <div class="row align-middle">
                      <div class="progress col-9" style="height: 0%;">
                        <% var barColor = "bg-info"; if (percentage >= 90 || percentage <= 10) {barColor = "bg-danger"}%>
                        <div class="progress-bar progress-bar-striped <%=barColor%>" role="progressbar" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
                          <font color="black"><%= (nextMaintenance - hoursToNextMaintenance) %> / <%= nextMaintenance %> Hs</font>
                        </div>
                      </div>
                      <div class="col-3">
                        <%= percentage %> %
                      </div>
                    </div>
                  <%} else {%>
                    <h5> Planilla de mantenimientos no cargada </h5>
                  <%}%>
                </td>
                <td class="txt-oflo"><%= equipment.observations %></td>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row align-middle">
          <div class="col-9">
            <h3 class="card-title">Mantenimientos</h3>
          </div>
          <div class="col-3 text-center">
            <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-warning btn-rounded" href="/maintenance/new/<%=equipment.id%>" aria-expanded="false">
                <i class="mdi mdi-plus-circle-outline"></i>
                <span class="hide-menu">Nuevo Mantenimiento</span>
            </a>
          </div>
        </div>
        <div class="row align-middle">
          <div class="table-responsive text-center" style="height:300px; width: 100%">
            <table class="table table-hover">
              <thead>
                <tr class="d-flex">
                  <th class="col">FRECUENCIA [HS/KM]</th>
                  <th class="col">FECHA</th>
                  <th class="col">HORAS DEL EQUIPO [HS]</th>
                  <th class="col">REPUESTOS CAMBIADOS</th>
                  <th class="col">COSTO</th>
                  <th class="col">DETALLES</th>
                </tr>
              </thead>
              <tbody>
                <%for(maintenance of maintenances){%>
                  <tr class="d-flex">
                    <td class='col'><%=maintenance.maintenanceFrequency%></td>
                    <td class='col'><%=maintenance.date%></td>
                    <td class='col'><%=maintenance.totalHoursEquipment%></td>
                    <td class='col'><%=maintenance.maintenanceRows.length%></td>
                    <td class='col'>U$D<%=maintenance.maintenanceCost%></td>
                    <td class='col'>
                      <div class="btn-group" role="group">
                        <a href="/maintenance/details/<%=equipment.id%>/<%= maintenance.id %>"class="btn btn-success btn-rounded"><i class="mdi mdi-file-find"></i></a>
                        <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                          <a href="/maintenance/delete/<%=equipment.id%>/<%= maintenance.id %>"class="btn btn-danger btn-rounded"><i class="mdi mdi-delete"></i></a>
                        <%}%>
                      </div>
                    </td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row align-middle">
          <div class="col-9">
            <h3 class="card-title">Reparaciones</h3>
          </div>
          <div class="col-3 text-center">
            <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-warning btn-rounded" href="/repair/new/<%=equipment.id%>" aria-expanded="false">
                <i class="mdi mdi-plus-circle-outline"></i>
                <span class="hide-menu">Nueva Reparacion</span>
            </a>
          </div>
        </div>
        <div class="row align-middle">
          <div class="table-responsive text-center" style="height:300px; width: 100%">
            <table class="table table-hover">
              <thead>
                <tr class="d-flex">
                  <th class="col">Fecha</th>
                  <th class="col">Horas Totales</th>
                  <th class="col">Cantidad de Repuestos</th>
                  <th class="col">Costo Total</th>
                  <th class="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                 <%for(repair of repairs){%>
                   <tr class="d-flex">
                     <td class='col'><%=repair.date%></td>
                     <td class='col'><%=repair.repairTime%></td>
                     <td class='col'><%=repair.repairRows.length%></td>
                     <td class='col'><%=repair.totalCost%></td>
                     <td class='col'>
                       <div class="btn-group" role="group">
                         <a href="/repair/details/<%=equipment.id%>/<%= repair.id %>"class="btn btn-success btn-rounded"><i class="mdi mdi-file-find"></i></a>
                         <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                           <a href="/repair/delete/<%=equipment.id%>/<%= repair.id %>"class="btn btn-danger btn-rounded"><i class="mdi mdi-delete"></i></a>
                         <%}%>
                       </div>
                     </td>
                   </tr>
                 <%}%>
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
