<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Equipos</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
      <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col">
                <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-success btn-rounded" href="/equipment/new" aria-expanded="false">
                    <i class="mdi mdi-plus-circle-outline"></i>
                    <span class="hide-menu">Nuevo Equipo</span>
                </a>
              </div>
              <div class="col-3">
                <a class="sidebar-link waves-effect waves-dark sidebar-link btn btn-warning btn-rounded" href="/equipmentusehour/list" aria-expanded="false">
                    <i class="mdi mdi-timetable"></i>
                    <span class="hide-menu">Administrar Horas de Uso de Equipos</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h3 class="card-title"><b>Equipos</b></h3>
              </div>
              <div class="col-4">
                <div class="input-group md-form form-sm form-1 pl-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" id="filterList" type="text" placeholder="Buscar...">
                </div>
              </div>
            </div>
            <div class="table-responsive text-center" style="height:500px; width: 100%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0" style="width: 8%; text-align: center;">CÓDIGO</th>
                            <th class="border-top-0" style="width: 12%; text-align: center;">DESIGNACIÓN</th>
                            <th class="border-top-0" style="width: 10%; text-align: center;">MARCA</th>
                            <th class="border-top-0" style="width: 10%; text-align: center;">MODELO</th>
                            <th class="border-top-0" style="width: 7%; text-align: center;">I/D</th>
                            <th class="border-top-0" style="width: 7%; text-align: center;">HORÓMETRO</th>
                            <th class="border-top-0" style="width: 32%; text-align: center;">PRÓXIMO MANTENIMIENTO</th>
                            <th class="border-top-0" style="width: 14%; text-align: center;">DETALLES</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTable">
                      <% equipments.forEach(function(equipment){ %>
                        <tr>
                            <td class="txt-oflo align-middle"><%= equipment.code %></td>
                            <td class="txt-oflo align-middle"><%= equipment.designation %></td>
                            <td class="txt-oflo align-middle"><%= equipment.brand %></td>
                            <td class="txt-oflo align-middle"><%= equipment.model %></td>
                            <td class="txt-oflo align-middle"><!--%= equipment.indiceReparabilidad %-->1</td>
                            <td class="txt-oflo align-middle"><%= equipment.totalHours %></td>
                            <td class="txt-oflo align-middle">
                              <% if (nextMaintenanceMap.get(equipment.id) != 0) {%>
                                <% var nextMaintenance = nextMaintenanceMap.get(equipment.id)%>
                                <% var hoursToNextMaintenance = hoursToNextMaintenanceMap.get(equipment.id)%>
                                <% var prevMaintenance = prevMaintenanceMap.get(equipment.id)%>
                                <% var percentage = ((1 - (nextMaintenance - equipment.partialHours) / (nextMaintenance - prevMaintenance)) * 100).toFixed(2) %>
                                <div class="row align-middle">
                                  <div class="progress col-9" style="height: 0%;">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= percentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
                                      <font color="black"><%= (nextMaintenance - hoursToNextMaintenance) %> / <%= nextMaintenance %> Hs</font>
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <%= percentage %> %
                                  </div>
                                </div>
                              <%} else {%>
                                <h5> Planilla de mantenimientos no cargada </h5>
                              <%}%>
                            </td>
                            <td style="text-align: center;">
                              <div class="btn-group" role="group">
                                <a href="/equipment/details/<%= equipment.id %>"class="btn btn-success btn-rounded"><i class="mdi mdi-file-find"></i></a>
                                <% if(req.session.authenticated && req.session.User.permissions === "admin"){ %>
                                  <a href="/equipment/edit/<%= equipment.id %>"class="btn btn-warning btn-rounded"><i class="mdi mdi-pencil-outline"></i></a>
                                  <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#deleteEquipmentModal" data-equipmentid="<%=equipment.id%>" data-equipmentcode="<%=equipment.code%>" ><i class="mdi mdi-delete"></i></button>
                                <%}%>
                              </div>
                            </td>
                        </tr>
                      <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
          I/C: Índice de Costos -
          I/D: Índice de Disponibilidad
        </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->


<div class="modal fade" id="deleteEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cuidado! Seguro desea eliminar el equipo?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Esta acción no se puede deshacer.</h5>
      </div>
      <div class="modal-footer">
        <a href="/equipment/delete/<%= equipment.id %>"class="btn btn-danger btn-rounded">ELIMINAR</a>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">CANCELAR</button>
      </div>
    </div>
  </div>
</div>
